# frontend
tudu/node_modules/
tudu/.env

# backend
Server/node_modules/
Server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build files
dist/
build/

# system files
.DS_Store
Thumbs.db