.edit-profile-page {
    width: 100%;
}

.child-edit-profile-page {
    width: 400px;
    height: calc(100vh - 30px);
    padding: 15px;
}

#go-back {
    display: flex;
    align-items: center;
}

#go-back h3 {
    font-weight: lighter;
    color: lightgrey;
    cursor: pointer;
    font-size: 14px;
}

#go-back span {
    margin: 0px 8px;
    font-size: 12px;
}

.profile-content-page {
    margin-top: 10px;
}

.name-popup {
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-popup h1 {
    font-family: 'flamebold';
    font-size: 40px;
}

.input-box {
    margin: 10px 0px;
    padding: 10px;
    width: calc(100% - 22px);
    border-radius: 15px;
    border: 1px solid lightgrey;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box label {
    font-size: 13px;
}

.input-box input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: lighter;
    color: lightgray;
}

.input-box input::placeholder {
    color: lightgray;
    font-size: 14px;
    font-weight: lighter;
}

#createdAt {
    font-size: 14px;
    color: lightgray;
    font-weight: lighter;
}

#reset-btn {
    width: 45%;
    height: 45px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid lightgrey;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

#update-btn {
    width: 45%;
    height: 47px;
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
}


/* edit profile css */
.child-profile-popup {
    width: 100%;
    display: flex;
    height: 50px;
}

.name-card {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.name-card h1 {
    font-size: 25px;
    font-family: 'flamebold';
    font-weight: lighter;
}

#username {
    font-size: 20px;
    font-family: 'flamebold';
    font-weight: lighter;
}



/* admin search user profile */
.a-user-profile {
    width: 100%;
    height: calc(100vh - 30px);
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.tn-a-user-profile {
    width: 600px;
    height: 100px;
}

.top-profile-data {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.name-letter {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-letter h1 {
    font-size: 50px;
    font-weight: lighter;
    color: white;
    font-family: 'flamebold';
}
.personal-info{
    margin-left: 15px;
}
.personal-info h1{
    font-size: 25px;
    font-family: 'flamebold';
    font-weight: lighter;
}
.personal-info p{
    font-size: 12px;
    color:black;
    font-weight: lighter;
}
.personal-info span{
   font-size: 12px;
   margin-top: 10px;
   font-weight: lighter;
   color: #9A9AA3;
}
.user-active-status button{
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    background-color: red;
    color: white;
}
.user-task-data{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-task-data div{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.user-task-data div p{
    font-size: 14px;
}

/* media query */
@media (min-width: 222px) and (max-width: 570px) {
   .child-edit-profile-page{
    padding: 7px;
    width: calc(100% - 20px);
   }
}